<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="home-background">
  <div class="list text-center padding">
      <img class="logo" src="http://songchant.com/outlaw/images/outlaw2016.png">
      <h4 class="line-height-160"><span STYLE="color: white">Howdy Outlaw, glad to have you join us!</span></h4>
    </div>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)">
      <div class="list">
        <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
          <span class="input-label">Email:</span>
          <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password:</span>
          <input name="password" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="30" required>
        </label>
        <input type="submit" value="Register" class="button button-block button-positive" ng-disabled="registerForm.$invalid" />
              <p class="text-center">
          <a href="#/forgotPassword" class="button button-clear button-light">Forgot Password</a>
          <a href="#/login2" class="button button-clear button-light">Back to Login</a>
        </p>
      </div>
    </form>

    <!--<button onclick="location.href='#/login';" class="button button-assertive button-block button-no-margin-top">Back to Login</button>-->
  </ion-content>
</ion-view>
